# Main configuration file for the Grux bot. Copy this to .env and fill in the values.
PORT=80
DISCORD_TOKEN=
MAIN_GUILD=
MONGODB_URI=
DISCORD_USER_TOKENS= # Comma-separated list of user tokens
CACHE_TTL= # Cache time-to-live in milliseconds - default: 600000 (10 minutes)

# My custom webhooks for joins, welcomes and rules. Optional
JOINS_CHANNEL_ID=
JOINS_WEBHOOK=
WELCOME_WEBHOOK=
RULES_WEBHOOK=

# Grux Logs. Optional
DATABASE_INSERTS_WEBHOOK=
DATABSE_DELETES_WEBHOOK=
DATABSE_UPDATES_WEBHOOK=
DATABASE_POPULATIONS_WEBHOOK=